.fd-dialog {
  &__header {
    gap: 12px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    display: flex;
    align-items: center;
  }

  &__actions {
    display: flex;
    align-items: center;
  }

  .el-button + .el-button {
    margin-left: 0;
  }

  &__scrollbar {
    max-height: min(calc(100vh - 160px), 80vh);
  }
}
