.fd-grid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.fd-grid__item {
  min-width: 0;
  box-sizing: border-box;
}

.fd-grid__item--suffix {
  margin-left: auto;
}
