.fd-search {
  gap: 16px;
  display: flex;
  align-items: flex-start;
  margin-bottom: 12px;

  &__form {
    flex: 1 1 auto;
    min-width: 0;
  }

  &__actions {
    flex: 0 0 auto;
    min-width: 240px;
  }
}

@media (max-width: 768px) {
  .fd-search {
    flex-direction: column;

    &__actions {
      width: 100%;
    }
  }
}
